Assignment: Python Basic

1:Explain the key features of Python that make it a popular choice for programming?
Ans:There are several key Features That Create Python a popular choice for programming:

1: Easy to Learn and Read: 
    python consiting a syntax that make it easier to understand and many of the syntax are related to the common english words.
    which makes it easier to understand for a Beginner. 
                            
2:Wide Range of Applications
    Web development 
    Data science and machine learning 
    Automation and scripting
    Game development, network programming, and more  

3:Large Community and Support
    Lots of documentation, tutorials, and third-party libraries are available.
    You can easily get help on platforms like Stack Overflow or GitHub.

4:Extensive Standard Library
    Python comes with many built-in modules for tasks like file handling, regular expressions, web services, 
    etc. eg: Matplotlib,Django,glob,NumPy

2:Describe the role of predefined keywords in Python and provide examples of how they are used in a
  program?
  
Ans:Keywords in Python are reserved words that have a special meaning in the language. You cannot use them as variable names, function names, or identifiers.
some examples of keywords
print: for printing the syntax
if, else, elif:used as conditional statement
for, while: used for loops
type: for finding the type of data
and, or, not: logical operator
true, false : boolian value

In [2]:
print("hello pw world") #this is the one of the example of the print staement used as predefined keyword.

hello pw world

In [18]:
x=2
y=4    
x==y

False

3: Compare and contrast mutable and immutable objects in Python with examples?
Ans: Mutable Objects
These can be changed after creation.
Examples: list, dict, set

In [20]:
my_list = [1, 2, 3] 3 #eg of mutable objects
my_list[0] = 100
print(my_list)

[100, 2, 3]

Immutable Objects
These cannot be changed after creation.
Examples: int, float, str, tuple, bool,

In [22]:
my_string = "hello"
my_string[0] = 'H'  # eg of immutable object we can not change in string This will raise an error.

TypeError: 'str' object does not support item assignment

4: Discuss the different types of operators in Python and provide examples of how they are used?
Ans:1. Arithmetic Operators
Used to perform basic math operations.	
+	Addition	
-	Subtraction	
*	Multiplication	
/	Division	
//	Floor Division	
%	Modulus	
**	Exponentiation

Comparison Operators
Used to compare values and return a boolean result.

==	Equal to	
!=	Not equal to	
>   Greater than	
<	Less than	
>=	Greater than or equal	
<=	Less than or equal
	 
Assignment Operators
Used to assign values to variables.
		
=	 x = 5	 
+=	 x += 3	
-= 	 x -= 2	
*=	 x *= 4	
/=	 x /= 2	 
//=	 x //= 2	
%=	 x %= 3	
**=	 x **= 2

Logical Operators
Used to combine conditional statements.

and	 True if both are true	
or	 True if at least one is true	
not	 Inverts the result	not True 

5. Membership Operators
Used to check if a value is in a sequence.

in	    True if value found	
not in	True if not found	

6. Identity Operators
Used to compare memory locations.

is	    True if same object	
is not	True if not same object	

7. Bitwise Operators
   Used for binary operations.
   
&	AND		
^	XOR	
~	NOT	
<<	Left Shift	
>>	Right Shift

In [24]:
#eg of arithmatic operator
5+3

8

In [26]:
5-3

2

In [28]:
5//3

1

In [32]:
5*3

15

In [34]:
#eg of comparison operator
5==3

False

In [36]:
5>=3

True

In [40]:
5<=3

False

In [50]:
#eg of assignment operator
x=5
x=x+3
print (x)

8

In [52]:
x=x-3
print(x)

5

In [54]:
x = x * 4
print(x)

20

In [56]:
#eg of logical operator
True is True

True

In [58]:
True or False

True

In [60]:
True is not True

False

In [62]:
True is not False

True

In [6]:
#eg of membership operator
x = ("Apple")

In [8]:
("A") in x

True

In [10]:
("a") in x

False

In [16]:
("A") not in x

False

5:Explain the concept of type casting in Python with examples?
Ans:Type Casting in Python
Type casting means converting one data type into another. In Python, this is often done using built-in functions.

There are two types:Implicit type casting
                    Explicit type casting
                    
. Implicit Type Casting
Python automatically converts one type to another during an operation.

In [18]:
a=5
b=2.0      #eg of the implicit type casting
c=a+b
print(c)

7.0

In [20]:
type(c) #the result will be float

float

In [22]:
type(a) #the result will be int

int

Explicit Type Casting
You manually convert a value from one type to another using functions like:
int()
float()
str()

In [27]:
a=1       #eg of the explicit type casting
float(a)

1.0

In [29]:
str(a)

'1'

6:How do conditional statements work in Python? Illustrate with examples?
Ans:Conditional statements are used to make decisions in code — they allow Python to choose different paths based on conditions.
The main types are:
if
if...else
if...elif...else

In [34]:
'''if Statement
'''Executes a block only if the condition is true.
x = 10
if x > 5:
    print("x is greater than 5")

x is greater than 5

In [36]:
'''if...else Statement
'''If the condition is true, the if block runs; otherwise, the else block runs.
x = 3
if x > 5:
    print("x is greater than 5")
else:
    print("x is 5 or less")

x is 5 or less

In [40]:
'if...elif...else'
'Used to check multiple conditions'
x = 7
if x < 5:
    print("x is less than 5")
elif x == 7:
    print("x is equal to 7")
else:
    print("x is something else")

x is equal to 7

In [42]:
#Nested if Statements
#if statements inside another if.
x = 10
if x > 0:
    if x % 2 == 0:
        print("x is positive and even")
    else:
        print("x is positive and odd")

x is positive and even

7:Describe the different types of loops in Python and their use cases with examples?
Ans:Loops are used to repeat a block of code multiple times. Python supports two main types of loops:

1:for Loop
Used to iterate over a sequence (like a list, tuple, string, or range).

In [44]:
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print(fruit)

apple
banana
cherry

In [52]:
2. #while Loop
#Repeats as long as a condition is true.
i = 1
while i <= 5:
    print(i)
    i += 1

1
2
3
4
5

In [56]:
#3. Loop Control Statements
#a) break
#Exits the loop early.
for i in range(10):
    if i == 5:
        break
    print(i)

0
1
2
3
4

In [58]:
#b) continue
#Skips the current iteration and goes to the next one.
for i in range(5):
    if i == 2:
        continue
    print(i)

0
1
3
4

In [60]:
#else with loops
#Runs after the loop finishes, unless a break is hit.
for i in range(3):
    print(i)
else:
    print("Loop ended without break")

0
1
2
Loop ended without break

In [64]:
print("THE END OF THE ASSIGNMENT")

THE END OF THE ASSIGNMENT